<ion-header>
   <ion-toolbar color="medium">
      <ion-title> Inicio </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <div id="container">
      <ion-grid>
         <ion-row>
            <ion-col size="12">
               <strong>CharlsDEV - APP InnovaTech´S</strong>
            </ion-col>
         </ion-row>

         <ion-row class="ion-text-center">
            <ion-col class="ion-align-items-center">
               <img src="../../assets/icon/LogoDEV.png" width="250" />
            </ion-col>
         </ion-row>

         <ion-row class="items-center">
            <ion-col width="50">
               <ion-button
                  (click)="alerta()"
                  expand="block"
                  fill="outline"
                  shape="round"
                  color="danger"
                  size="small"
               >
                  Welcome
               </ion-button>
            </ion-col>

            <ion-col width="50">
               <ion-button
                  (click)="pageCed()"
                  expand="block"
                  fill="outline"
                  shape="round"
                  color="warning"
                  size="small"
               >
                  Cédula
               </ion-button>
            </ion-col>
         </ion-row>

         <ion-row class="items-center">
            <ion-col width="50">
               <ion-button
                  (click)="pageNotes()"
                  expand="block"
                  fill="outline"
                  shape="round"
                  color="success"
                  size="small"
               >
                  Notas
               </ion-button>
            </ion-col>

            <ion-col width="50">
               <ion-button
                  (click)="pageAPI()"
                  expand="block"
                  fill="outline"
                  shape="round"
                  color="secondary"
                  size="small"
               >
                  API Search
               </ion-button>
            </ion-col>
         </ion-row>
      </ion-grid>
   </div>
</ion-content>

<ion-footer>
   <ion-toolbar color="medium">
      <ion-title class="footer ion-text-center">© Desarrollado por <b>CharlsDEV</b></ion-title>
   </ion-toolbar>
</ion-footer>
